<h2 class="font-bold">ACCORDIONS</h2>
<div class="mb-10">
    <%= render AccordionComponent.new(single_open: true,
      items: [
        { title: "Item 1", content: "Content for item 1" },
        { title: "Item 2", content: "Content for item 2" },
        { title: "Item 3", content: "Content for item 3" }
      ]) %>
  </div>
</div>
