
<!-- ### COLORS ### -->
<h2 class="font-bold">COLORS</h2>
<div class="mb-10">
  <div class="grid grid-cols-5">
    <div class="h-20 col-span-1 bg-indigo-800"></div>
    <div class="h-20 col-span-1 bg-red-800"></div>
    <div class="h-20 col-span-1 bg-amber-400"></div>
    <div class="h-20 col-span-1 bg-gray-300"></div>
    <div class="h-20 col-span-1 bg-green-600"></div>
  </div>
</div>
