<h2 class="font-bold">PAGINATION</h2>
<div class="mb-10">
  <ul class="flex justify-center items-center">
    <li>
      <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-indigo-100 bg-transparent p-0 text-sm text-indigo-500 transition duration-150 ease-in-out hover:bg-light-300"
        href="#" aria-label="Previous">
        <span class="text-sm"><</span>
      </a>
    </li>
    <li>
      <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full bg-indigo-600 p-0 text-sm text-white transition duration-150 ease-in-out"
        href="#">
        1
      </a>
    </li>
    <li>
      <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-indigo-100 bg-transparent p-0 text-sm text-indigo-500 transition duration-150 ease-in-out hover:bg-light-300"
        href="#">
        2
      </a>
    </li>
    <li>
      <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-indigo-100 bg-transparent p-0 text-sm text-indigo-500 transition duration-150 ease-in-out hover:bg-light-300"
        href="#">
        3
      </a>
    </li>
    <li>
      <a class="mx-1 flex h-9 w-9 items-center justify-center rounded-full border border-indigo-100 bg-transparent p-0 text-sm text-indigo-500 transition duration-150 ease-in-out hover:bg-light-300"
        href="#" aria-label="Next">
        <span class="text-sm">></span>
      </a>
    </li>
  </ul>
</div>
