<h2 class="font-bold">TOGGLES</h2>
<div class="mb-10 space-x-4">
  <label class="relative inline-flex cursor-pointer items-center">
    <input id="switch" type="checkbox" class="peer sr-only" />
    <label for="switch" class="hidden"></label>
    <div
      class="peer h-6 w-11 rounded-full border bg-gray-200 after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-gray-800 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300">
    </div>
  </label>
  <label class="relative inline-flex cursor-pointer items-center">
    <input id="switch-2" type="checkbox" class="peer sr-only" />
    <label for="switch-2" class="hidden"></label>
    <div
      class="peer h-4 w-11 rounded-full border bg-gray-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-indigo-600 peer-checked:after:translate-x-full peer-focus:ring-indigo-500">
    </div>
  </label>
  <label class="relative inline-flex cursor-pointer items-center">
    <input id="switch-3" type="checkbox" class="peer sr-only" />
    <label for="switch-3" class="hidden"></label>
    <div
      class="peer h-4 w-11 rounded border bg-gray-200 after:absolute after:-top-1 after:left-0 after:h-6 after:w-6 after:rounded-md after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-indigo-600 peer-checked:after:translate-x-full peer-focus:ring-indigo-500">
    </div>
  </label>

  <label class="relative inline-flex cursor-pointer items-center">
    <input type="checkbox" value="" checked class="peer sr-only" />
    <div
      class="peer flex h-8 items-center gap-4 rounded-full bg-orange-600 px-3 after:absolute after:left-1 after: after:h-6 after:w-16 after:rounded-full after:bg-white/40 after:transition-all after:content-[''] peer-checked:bg-indigo-600 peer-checked:after:translate-x-full peer-focus:outline-none text-sm text-white">
      <span>General</span>
      <span>Project</span>
    </div>
  </label>
</div>
