<div class="group">
  <button class="flex items-center justify-center w-10 h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
    <%= render Svg::BurgerComponent.new %>
  </button>
  <div class="hidden group-hover:block absolute bg-gray-100 min-w-[160px] shadow-lg z-10 rounded-2xl">
    <a href="#" class="text-black p-3 block hover:bg-gray-200 rounded-2xl">Search</a>
    <a href="#" class="text-black p-3 block hover:bg-gray-200 rounded-2xl">Metric</a>
    <a href="#" class="text-black p-3 block hover:bg-gray-200 rounded-2xl">Language</a>
    <a href="#" class="text-black p-3 block hover:bg-gray-200 rounded-2xl">User profile</a>
  </div>
</div>
