<div class="relative inline-block group">
  <a href="#" aria-label="<%= name %>"
     class="flex items-center justify-center px-0 w-10 md:px-1 md:w-auto h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
    <%= yield %>
  </a>
</div>
