<%= link_to(root_path, class: "flex") do %>
  <%= render(ImageComponent.new(image_path: "logo.png", options: {class: "h-14 w-14 mr-2", alt: "Logo"})) %>
  <div>
    <h1 class="text-lg font-semibold">FreskHub</h1>
    <p class="text-gray-500 text-sm">Raising Awareness</p>
  </div>
<% end %>
