<%= link_to(root_path, class: "flex flex-grow") do %>
  <%= safe_image_tag("logo.png", class: "h-14 w-14 mr-2", alt: "") %>
  <div>
    <h1 class="text-lg font-semibold">FreskHub</h1>
    <p class="text-gray-500 text-sm">Raising Awareness</p>
  </div>
<% end %>
