<div class="relative inline-block group">
  <span class="absolute z-10 hidden md:invisible w-32 bg-gray-200 text-center p-1.5 rounded-lg top-full left-1/2 transform -translate-x-1/2 group-hover:block">
    <%= name %>
  </span>
  <a href="#" aria-label="<%= name %>"
     class="flex items-center justify-center px-0 w-10 md:px-1 md:w-auto h-10 text-base leading-normal text-center align-middle bg-transparent border border-solid md:border-none shadow-none cursor-pointer rounded-2xl hover:bg-gray-100">
    <%= yield %>
    <span class="hidden md:block"><%= name %></span>
  </a>
</div>
