<%= render "administration/components/breadcrumbs" %>

<h1><%= @fresk.name %></h5>
<%= safe_image_tag("fresks/#{@fresk.identifier}.png", alt: "") %>
<p>
La Fresque du Climat permet à chacun·e de comprendre le fonctionnement, l’ampleur et la complexité des enjeux liés aux dérèglements climatiques.
</p>
