<div data-controller="maps" data-maps-instances="<%= @geocoded_instances.to_json %>" data-maps-popup-key="<%= @popup_content %>">
  <div id="maps" data-maps-target="map" class="h-[25rem] w-auto"></div>
</div>
