<%= render("layouts/turbo_dialog", title: t("dialog_title.search")) do %>
  <div data-action="turbo:submit-end->dialog#submitEnd">
    <%= render(TabComponent.new(tabs: @tabs, active_tab: @active_tab)) do %>
      <%= render("searches/tabs/training_session_form") %>
    <% end %>
  </div>
<% end %>
