<%= render("layouts/turbo_dialog", title: t("dialog_title.search_training_sessions")) do %>
  <div data-action="turbo:submit-end->dialog#submitEnd">
    <%= render("searches/training_session_form") %>
  </div>
<% end %>
